body{
  background-color: '#FFB5FF';
  /*font-family: 'Forum', cursive;*/
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 120%;
  line-height: 2;
}

#imglogo{
  width:300px;
}

header{
  display:table;
 /* background-color: white;*/
  width:100vw;
  height:20px;
  position: fixed;
  top:0px;
}

header a{
  padding: 20px;
  width: auto;
  height: 100%;;
  position: absolute;
  right: 0;
}

 nav{
  width: auto;
  height: auto;
  position: absolute;
  top:50%;
}

#btn-prev{
left: 20px;
}

#btn-prev img{
  transform: scaleX(-1);
}

#btn-next{
  right: 20px;
  text-align: right;
}

main div{
  width: 80%;
}

#interrogation:hover{
  cursor: pointer;
}

#fermer{
  cursor:pointer;
  margin-right: 10px;
  text-align:right;
}


#explication{
  position: fixed;
width: 350px;
left: 25px;
font-size: 90%;
bottom: 5vh;
line-height: 1.4;
background-color: azure;
border-width: 1px;
padding: 9px;
opacity: 0.95;
}

#infos{
  margin: 30vh 30vw 30vh 30vw;
  background-color: pink;
  position: fixed;
  width: 40vw;
  height: 40vh;
}

@media screen and (max-width: 720px) {
  #infos{
    margin: 30vh 10vw 30vh 10vw;
    width: 80vw;
    height: 40vh;


  }
}

#content-infos{
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

#text-infos{

}

#text-infos p{
  margin-top: 0px;
  width: calc(100% - 20px);
}

#close{
  cursor:pointer;
  text-align:right;
  margin-right: 0;
  right: 20px;
}

#infos div{
  position: absolute;
}

.informations {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.Aligner-item {
  max-width: 50%;
}

.infodiv{
  /*background-color: #FBDED7;*/
  background-color: pink;
  /*width:25vw;
  height:25vh;*/
  text-align: left;

}

#interieurInfo{
  width:50vw;
  height: 50vh;
}

a{
  font-style: none;
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: underline;
}

#insideInterieurInfo{

  left:30px;
  top:50px;
  position: relative;

}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.cacher{
  visibility: hidden ;
}

@media only screen and (max-width: 600px) {

  #insideInterieurInfo{

    left:10px;
    top:50px;
    position: relative;
    font-size: 80%;

  }

}
