body{
  background-color: #ffcccc;
  /*font-family: 'Forum', cursive;*/
  font-family: "Courier New";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 120%;
  line-height: 1.3;
}

#imglogo{
  width:300px;
}

header{
  display:table;
 /* background-color: white;*/
  width:100vw;
  height:20px;
  position: fixed;
  top:0px;
}

header div{
  margin: 20px;
  width: auto;
  height: 100%;;
  position: absolute;
  right: 0;
}

 nav{
  width: auto;
  height: auto;
  position: absolute;
  top:50%;
}

#btn-prev{
left: 20px;
}

#btn-prev img{
  transform: scaleX(-1);
}

#btn-next{
  right: 20px;
  text-align: right;
}

main div{
  width: 80%;
}

#interrogation:hover{
  cursor: pointer;
}

#fermer{
  cursor:pointer;
  margin-right: 10px;
  text-align:right;
}

.cacher{
  visibility: hidden ;
}


.infos{
  margin: 30vh 30vw 30vh 30vw;
  background-color: white;
  position: fixed;
  width: 40vw;
  height: 40vh;
}

@media screen and (max-width: 720px) {
  #infos{
    margin: 30vh 10vw 30vh 10vw;
    width: 80vw;
    height: 40vh;
  }
}

#content-infos{

  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

#text-infos{
  position: absolute;

}

#text-infos p{
  margin-top: 0px;
  width: calc(100% - 20px);
  z-index: 10;
}

#close{
  position: absolute;
  cursor:pointer;
  text-align:right;
  margin-right: 0;
  right: 20px;
  z-index: 100;
}

#infos div{
  position: absolute;
}

#info-title{
  text-decoration: underline;
  width: 60% !important;
}

a{
  font-style: none;
  text-decoration: none;
  color:black;
}

a:hover{
  text-decoration: underline;
}
